<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista De Canciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      </ion-toolbar>
  </ion-header>
<div class="cen">
  <div id="container">
    <ion-list>
      <ion-item>
        <img class="circular--square" id="one"
  src="../../assets/Mana.jpg" /> <ion-label>    Mana</ion-label>
      </ion-item>
      <ion-item>
        <img class="circular--square" id="one"
  src="../../assets/avici.jpg" /> 
        <ion-label>Avici</ion-label>
      </ion-item>
      <ion-item>
        <img class="circular--square" id="one"
  src="../../assets/santa.jpg" /> 
        <ion-label>Santa fe</ion-label>
      </ion-item>
      <ion-item>
        <img class="circular--square" id="one"
  src="../../assets/arjona.jpg" /> 
        <ion-label>Ricardo Arjona</ion-label>
      </ion-item>
      <ion-item>
        <img class="circular--square" id="one"
  src="../../assets/chayane.jpg" /> 
        <ion-label>Chayane</ion-label>
      </ion-item>
    </ion-list>
    
  </div>
      </div>
</ion-content>
